# Ignore Python cache folders
__pycache__/
**/__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
venv.bak/

# VS Code settings (optional)
.vscode/

# Mac OS / Linux / Windows hidden files
.DS_Store
Thumbs.db

# Pydantic / SQLModel cache
*.mypy_cache/
*.pytest_cache/
